{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/puppies/puppy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Puppy List</h1>
  <img class ="small-pup" src="{% static 'images/pome.png' %}" alt="A cool dog" />
  <img class ="small-pup" src="{% static 'images/dachs.png' %}" alt="A happy dog" />
  <img class ="small-pup" src="{% static 'images/corgi.png' %}" alt="A dog in a teacup" />
  <img class ="small-pup" src="{% static 'images/westie.png' %}" alt="A dog in a box" />
</section>

<section class="card-container">
  {% for puppy in puppies %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            id="puppy-card"
            src="{% static 'images/happyshiba.png' %}" 
            alt="A friendly puppy"
          >
        </div>
        <h2 class="card-title">{{ puppy.name }}</h2>
        {% if puppy.age > 0 %}
          <p>A {{ puppy.age }} year old {{ puppy.breed }}</p>
        {% else %}
          <p>A {{ puppy.breed }} pup.</p>
        {% endif %}
        <p><small>{{ puppy.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}