{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="puppy-container">
    <img id ="home-pup" src="{% static 'images/shiba.png' %}" alt="The Shiba Pup" />
  </div>
  <img 
    id="home-logo"
    src="{% static 'images/puppy.png' %}" 
    alt="Text reads: Puppy Collector"
  />
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    {% comment %} reroute to where you were after log in ^^ {% endcomment %}
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}